# Ignore all files in *-Playground directories
*-Playground/*

# Except the rules and mcp configurations
!*-Playground/.cursor/
!*-Playground/.vscode/
!*-Playground/.github/

# Except plugin input file files
!WP-agent-Playground/all-plugins.txt

# Execpt gitkeep files
!*/.gitkeep